@tailwind base;
@tailwind components;
@tailwind utilities;



h1{
  /* text-align: center; */
  /* font-size:50px; */
  color:lightblue;
  margin-bottom:20px;
  strong{
    font-weight: bolder;
    color:rgba(255, 0, 0, 0.886);
  }
}

.container{
  margin:auto;
  margin-top:20px;
  padding:30px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:aquamarine;
  background-color: white;
  border-radius: 2rem;
  width:29%;
  gap:10px;
  /* transition:.01s ease; */
  div{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    h2{
      font-weight: 900;
      color:black;
    }
  }
  &:hover{
     box-shadow: rgba(0, 0, 0, 0.647) 0px 5px 15px;
     transform:scale(1.05);
  }
}